﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mb-0 > a {
    display: block;
    position: relative;
}

    .mb-0 > a:after {
        content: "\f078";
        /* fa-chevron-down */
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
    }

    .mb-0 > a[aria-expanded="true"]:after {
        content: "\f077";
    }

* {
    border-radius: 1px !important;
}

.card-header {
    background-color: #5B388C
}

    .card-header a,
    .card-header a:hover {
        color: white;
        text-decoration: none
    }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.bg-purple {
    background-color: #5B388C
}

.text-white {
    color: white
}

.buttons-print {
    display: none;
}

.btn-find {
    border-color: #5B388C;
    outline-color: #5B388C;
    color: white;
    font-weight: bold;
    background-color: #5B388C;
    text-transform: uppercase
}

    .btn-find:focus {
        background-color: #5B388C;
        color: white
    }