﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading-1">
            <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                   aria-controls="collapse-1">
                    Allergy History
                </a>
            </h5>
        </div>
        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-3 col-sm-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">
                                <i class="fa fa-filter"
                                   aria-hidden="true"></i>
                            </label>
                        </div>
                        <select class="custom-select" id="select-active">
                            <option value="true" selected>Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                    <div class="col"></div>
                    @*<div class="input-group mb-3 col-sm-4">
                            <input id="tb-search" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search" aria-hidden="true"></i></label>
                            </div>

                        </div>*@
                </div>

                <div class="row">
                    <div class="input-group mb-3 col-sm-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-clock-o" aria-hidden="true"></i></label>
                        </div>
                        <select class="custom-select" id="select-time-range">
                            <option value="0">All</option>
                            <option value="1">1 year</option>
                            <option value="2">6 months</option>
                            <option value="3">Most recent </option>
                        </select>
                    </div>
                    <div class="col"></div>
                    <div class="input-group mb-3 col-sm-4 flex-row-reverse ">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                            <div class="btn-group mr-2">
                                <button type="button" class="btn bg-purple text-white text-uppercase">
                                    <i class="fa fa-th mr-2" aria-hidden="true"></i> ChangeView
                                </button>
                            </div>
                            <div class="btn-group">
                                <button id="btn-print" type="button" class="btn bg-purple text-white text-uppercase">
                                    <i class="fa fa-print mr-2" aria-hidden="true"></i> Print List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table id="table" class="table table-striped table-bordered" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-2">
            <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                   aria-controls="collapse-2">
                    Allergy Input
                </a>
            </h5>
        </div>
        <div id="collapse-2" class="collapse show" data-parent="#accordion" aria-labelledby="heading-2">
            <div class="card-body">
                <form id="frmData">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity" class="font-weight-bold">Allergen Type</label>
                            <select id="ddlAllergenType" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState" class="font-weight-bold">Severity</label>
                            <select id="ddlSeverity" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip" class="font-weight-bold">Reacttion</label>
                            <select id="ddlReacttion" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-row" id="allergen" style="display: none;">
                        <div class="form-group col-md-4">
                            <label for="inputCity" class="font-weight-bold">Allergen</label>
                            <select id="ddlAllergen" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-row" id="prescription" style="display: none;">
                        <div class="form-group col-md-4">
                            <label for="inputCity" class="font-weight-bold">Prescription</label>
                            <select id="ddlPrescription" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputState">Search for Medication</label>
                            <input class="form-control" id="txtNote" />
                        </div>
                        <div class="form-group col-md-1">
                            <label for="inputZip" class="font-weight-bold">&nbsp</label>
                            <button class="btn form-control btn-find" type="submit">Find</button>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">Note</label>
                            <textarea class="form-control" rows="5" id="txtNoteMessage"></textarea>
                        </div>
                    </div>
                </form>
                <div class="form-row">
                    <button id="btnSave" type="button" class="btn btn-success mr-2 text-uppercase font-weight-bold">submit</button>
                    <button id="btnReset" type="button" class="btn btn-warning text-uppercase text-white font-weight-bold">reset</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home/index.js"></script>
    <script>
        var allergyInput = new AllergyInputController();
        allergyInput.initialize();
    </script>
}